body {
  background-color: #EEEDE6;
  padding: 0px 15px;
  margin: auto;
}
body, html {
    height: 1000px;
}
.nba {
  color: #012B3E;
  Font-family: sans-serif;
  font-weight: lighter;
  text-align:center;
  font-size: 16px;
  padding: 0px;
  margin: 8px;
}

.nav-container {
  list-style:none;
  margin: 0;
  padding: 32px 30px;
  background: white;
  display: flex;
  justify-content:space-between;
}
.nav-container a {
  color: #012B3E;
  Font-family: sans-serif;
  font-weight: lighter;
  padding: 0px 20px;
  flex-grow: 1;

}
.left-nav, .right-nav {
  display: inline-flex;
  align-items: center;

}
a:link, a:visited {
  color: #012B3E;
  text-decoration: none;
}

.logo {
  height: 35px;
  width: auto;
}
.fa-shopping-bag {
  color: #012B3E;
  padding-left: 20px;
}

.background {
  color: white;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url(https://images.contentful.com/635jp660g7e4/33x5giPOd2Owq2Y2K8SoOE/fc7077875810bb9810ad4356975dfb4a/hp-hero2.jpg?w=2560&q=80);
  background-size: cover;
  background-position: center center;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  Font-family: garamond;
  font-size:50px;
  padding-bottom: 70px;
  font-weight: lighter;
}
.left-column{
  padding-left: 150px;
}
.right-column{
  padding-right: 150px;

}
.shop-now {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 25px;
}

.shop-now:hover {
  background-color:white;
  color: #103449;
}

.NBA-Module {
  background-color:white;
  flex-grow: 1;
  display: flex;
  padding-top: 90px;
  padding-left: 60px;
  flex-direction: row;
}
.NBA_Module_Text {
  padding-left: 65px;
  padding-top: 180px;
  Font-family: garamond;
  font-size:20px;
  font-weight: lighter;
  Color: #103449;
}
.NBA-Away {
  margin-bottom: 15px;
}
.Make-Your-Move {
  border-color: #103449;
  border-bottom-width: medium;
  border-right-width: medium;
  background-color: white;
  color: #103449;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 12px 25px;
  font-size: 10px;
  font-weight: lighter;
}
